/*
    Document   : site.css
    Created on : Aug 30, 2017
    Author     : Dejan Josifovic
    Description: Overall site style.
*/
body {
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    color: green;
    background-color: black;
}

h1 {
    font-weight: bold;
}
